extends layout.pug

block content
    .section
        .container               
            form(action='javascript:void(0);', onSubmit='searchArtifact(event);')        
                .field.is-grouped.is-grouped-multiline
                    .field-label.is-normal
                        label.label Bucket
                    p.control
                        .select
                            select#bucketSelect
                                option(value='' selected=(!bucketName ? true : false))
                                each bucket in buckets
                                    option(value=`${bucket && bucket.name}` selected=(bucket && bucketName == bucket.name ? true : false)) #{bucket.name}                            
                    .field-label.is-normal
                        label.label Artifact
                    p.control.is-expanded
                        input.input(id='artifactTextbox', type="text", placeholder="Artifact1", onInput='updateFormState(event)', value=`${artifactName ? artifactName : ''}`)
                    .field-label.is-normal
                        label.label Version
                    p.control
                        input.input(id='versionTextbox', type="text", placeholder="1.0", value=`${version ? version : ''}`)
                    .field-label.is-normal
                        label.label Metadata
                    p.control
                        input.input(id='metadataTextbox', type="text", placeholder="os=linux, arch=x86", value=`${metadata && Object.keys(metadata).length > 0 ? formatters.metadataObjectToList(metadata) : ''}`)
                    p.control
                        input.button.is-primary(type='submit', value='Search') 
            if !message
                hr                
                table.table.is-fullwidth
                    thead
                        tr
                            th Bucket
                            th Artifact
                            th Version
                            th File Size
                            th Last Update
                            th Metadata
                            th
                    tbody
                        each artifact in artifacts
                            tr
                                td #{artifact.bucket}
                                td #{artifact.name}
                                td #{artifact.version}
                                td #{formatters.filesizeToHuman(artifact.fileSize)}
                                td #{formatters.dateToMomentAgo(artifact.lastUpdate)}
                                td #{formatters.metadataObjectToList(artifact.metadata)}    
                                td
                                    a(href=`${formatters.buildURL(artifact)}&download`) download
                // nav.pagination.is-centered(role="navigation", aria-label="pagination")                
                    ul.pagination-list
                        li                    
                            a.pagination-link(aria-label="Page 1", aria-current="page") 1
                        li
                            span.pagination-ellipsis &hellip;
                        li
                            a.pagination-link.is-current(aria-label="Page 2", aria-current="page") 2
                        li
                            span.pagination-ellipsis &hellip;
                        li
                            a.pagination-link(aria-label="Page 3", aria-current="page") 3
            else
                .hero
                    .hero-body
                        .container
                            .title.is-4.has-text-centered #{message}



